<link rel="stylesheet" href="css/grid.css">

<h1>Game</h1>

<div class="grid-wrapper">
	<div ng-repeat="row in gameData.wordGrid">
		<div class="square" ng-repeat="tile in row" ng-click="selectTile(tile)" ng-class="getTileClass(tile)">
			<div class="content">
				<div class="table">
					<div class="table-cell">
						<h1 class="unselectable">{{tile.word}}</h1>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

<div id="game-info">
	<h1>{{gameData.turn}} team's turn</h1>
	<h1>Blue Team Words Left: {{gameData.blueTeamWordsLeft}}</h1>
	<ul>
		<li ng-repeat="word in gameData.blueTeamChosenWords">{{word}}</li>
	</ul>
	<h1>Red Team Words Left: {{gameData.redTeamWordsLeft}}</h1>
	<ul>
		<li ng-repeat="word in gameData.redTeamChosenWords">{{word}}</li>
	</ul>
</div>
