<link rel="stylesheet" href="css/grid.css">

<h1>Player Page ({{team}})</h1>

<div class="grid-wrapper">
	<div ng-repeat="row in gameData.wordGrid">
		<div class="square" ng-repeat="tile in row" ng-click="OpenWordSelectionModal(tile.word, tile.chosen)" ng-class="getTileClass(tile)">
		</div>
	</div>
</div>

<div id="player-info">
	<div>
		<h2>{{gameData.gameStatus}}</h2>
	</div>
	<div data-ng-hide="gameData.gameEnd">
		<button type="button" class="btn btn-primary btn-lg btn-block code-names-button" data-ng-click="nextTurn()">Finish Turn</button>
	</div>
	<div data-ng-show="gameData.gameEnd">
		<button type="button" class="btn btn-primary btn-lg btn-block code-names-button" data-ng-click="newGame()">New Game</button>
	</div>
</div>
