.full-screen-modal .modal-dialog {
	width: 90%;
	height: 90%;
}

.full-screen-modal .modal-content {
	width: 100%;
	height: 100%;
}

.setup-container {
	height: 95%;
}

.setup-body {
	height: 90%;
	display: flex;
	flex-direction: row;
	text-align: center;
}

.setup-column {
	flex-grow: 1;
	padding: 10px;
}

.player-card {
	width: 100%;
    border-radius: 5px;
    color: white;
	font-family: 'Droid Sans', sans-serif;
	font-weight: bold;
	text-align: center;
	padding: 10px;
	font-size: xx-large;
}

.player-card.blue-team {
	background-color: #47BBFF;
}

.player-card.red-team {
	background-color: #FF4C4C;
}

.setup-footer {
	text-align: center;
}

#game-code-container {
	background-color: #337ab7;
	border-radius: 5px;
	padding: 10px;
	margin-left: 40px;
	margin-right: 40px;
}

.game-code-label {
	font-size: 5vw;	
	font-family: 'Droid Sans', sans-serif;
    color: white;
	text-align: center;
}
